@font-face {
    font-family: 'sofiapro-light';
    src: url('sofiapro-light-webfont.woff2') format('woff2'),
         url('sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url(../fonts/gotham/Gotham-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'gothamlight';
    src: url(../fonts/gotham/Gotham-Light.otf);
}

body {
    font-family: 'gothamlight', sans-serif;
}

a{
    color: #21cf76;
}

a:hover{
    color: #333333;
    text-decoration: none;
}

.inactive {
    display: none;
}

.img-responsive { 
    width:100%;
}

nav{
    background: #efefef;
    width:  100%;
    text-align: left;
    height: 0;
    text-transform: uppercase;
    font-size: 100px;
    top: 0;
    line-height: 64px;
    cursor: pointer;
}

.burger-container {
    display: inline-block;
    cursor: pointer;
    margin-left: 16px;
    position: fixed;
    margin-top: 12px;
    z-index: 100;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 10000;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.max-width{
    max-width: 480px;
    margin: 0 auto;
    background: #21cf76;
}

/* Sections */
.vertical-line{
    width: 3px;
    background: #000000;
    height: 60px;
    position: relative;
    left: 50%;
}

.h-boxed{
    background: #ffffff;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 32px;
    z-index: 10;
}
h2.h-boxed{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
}

.img-part{
    border-bottom: 3px solid #000000;
    max-width: 640px;
    margin: 0 auto;
    border-top: 3px solid #000000;
}

.part-1{
    background: #21cf76;
    width: 100%;
    padding: 0 32px;
    padding-top: 36px;
    margin: 0;
}

.box-header{
    font-family: 'gothambold';
    background: none;
    font-size: 14px;
    margin-bottom: 24px;
}

.box-header img{
    width: 240px;
    padding: 12px 4px;
}

.part-2{
    background: #21cf76;
    padding: 0 32px;
    width: 100%;
    margin: 0;
}

.part-3{
    background: #21cf76;
    padding: 0 32px;
    width: 100%;
    margin: 0;
}

.part-4{
    background: #f3f3f3;
    padding: 0 32px;
    width: 100%;
    padding-top: 24px;
    margin: 0;
}

.part-4 h2{
    font-family: 'gothambold';
    margin-bottom: 18px;
}

.part-4 .container{
    max-width: 640px;
}


.part-4 img{
    border-radius: 50%;
    padding: 20px;
    margin: -20px 0;
}

.profile{
    width: 50%;
    padding: 8px 12px;
}

.profile-box{
    background: #ffffff;
    padding: 4px;
    text-align: center;
    margin: 12px 0;
    line-height: 14px;
}

.profile-box h3{
    font-family: 'gothambold';
    font-size: 10px;
    font-weight: 600;
    margin: 0;
}

.profile-box span{
    font-size: 10px
}

.profile-contact{
    text-align: center;
}

.profile-contact i{
    padding: 4px;
}


.part-footer{
    background: #21cf76;
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
    font-family: 'gothambold';
    border-top: 3px solid #000000;
}

.part-footer p{
    color: #ffffff;
    font-size: 18px;
    padding: 10px 16px;
    margin: 0;
    text-align: center;
    font-family: 'sofiapro-light', sans-serif;
}

.part-footer .h-boxed{
    font-size: 15px;
}

input[type=email]{
    border: none;
    background: #eeeeee;
    padding-left: 10px;
}


/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #21cf76;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}


footer{
    font-size: 20px;
    max-width: 480px;
    margin: 0 auto;
}

footer .social{
    color: #2699FB;
    
}

footer .social i{
    border: 1px solid #2699FB;
    padding: 16px;
    border-radius: 50%;
    margin: 8px;
}

footer .copyright{
    font-size: 13px;
}


/* Projects Page */
#solutions,
#profile {
    padding-bottom: 24px;
}

#solutions .row,
#profile .row {
    position: relative;
}

#solutions a,
#profile a {
    color: #000000;
    width: 100%;
}

#solutions .hor-line,
#profile .hor-line {
    position: absolute;
    width: 48px;
    border: 1.5px solid #000000;
    left: 45%;
    top: 50%;
}

.vert-left-line, .vert-right-line{
    width: 3px;
    background: #000000;
    height: 72px;
    position: relative;
    left: 22.5%;
    margin: -24px 0;
}

.vert-right-line{
    left: 77.5%;
}

img.group1{
    width: 120px;
    top: -32px;
    left: 5%;
    position: absolute;
}

img.group2{
    width: 80px;
    top: -30px;
    left: 55%;
    position: absolute;
}

img.group3{
    width: 80px;
    top: -30px;
    left: 5%;
    position: absolute;
}

.project-box{
    background: #ffffff;
    width: 40%;
    margin: 5%;
    padding: 16px;
    min-height: 160px;
    z-index: 10;
}

.project-box h4{
    font-size: 18px;
    display: inline-block;
}

.project-box h3{
    font-weight: bold;
    font-size: 20px;
}

.project-box span{
    background: #000000;
    color: #ffffff;
    padding: 8px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    float: right;
    left: 24px;
    top: -24px;
    margin-bottom: -12px;
    min-height: 32px;
    min-width: 64px;
    text-align: center;
}

.project-box b {
    margin-right: 1em;
}

.solution, .votes {
    width: 100%;
    min-height: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

.sol-image, .project-image{
    height: 120px;
    overflow: hidden;
    margin: 0 24px;
    position: relative;
}

.project-image{
    height: 320px;   
}

.project-category{
    position: absolute;
    z-index: 10;
    background: #ffffff;
    padding: 4px 12px;
    right: 0;
    font-size: 12px;
}

.sol-image img, .project-image img{
    position: relative;
    width: 100%; 
}

.sol-image span, .project-image span{
    position: absolute;
    background: rgba(0,0,0,0.25);
    width: 100%;
    z-index: 10;
    color: #ffffff;
    font-weight: 600;
    font-size: 36px;
    bottom: 0px;
    padding: 10px;
}


.solution i{
    display: block;
    text-align: right;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.votes{
    background: #000000;
    color: #ffffff;
    height: 40px;
    cursor: pointer;
}

.votes h2{
    margin-left: 64px;
}

.votes span{
    background: #ffffff;
    color: #000000;
    top: -46px;
    font-size: 16px;
}
.dot-crumbs{
    position: absolute;
    background: #ffffff;
    width: auto;
    height: 28px;
    top: 16px;
    left: 50%;
    padding: 4px 12px;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center
}

.crumb{
    font-size: 12px;
}