body {

    font-family: 'Roboto', sans-serif;
}

.img-responsive { 
    width:100%;
}

nav{
    background: #efefef;
    width:  100%;
    text-align: left;
    height: 0;
    text-transform: uppercase;
    font-size: 100px;
    top: 0;
    line-height: 64px;
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* Sections */
.vertical-line{
    width: 2px;
    background: #000000;
    height: 100px;
    position: relative;
    left: 50%;
}

.h-boxed{
    background: #ffffff;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    z-index: 10;
}
h2.h-boxed{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
}

.img-part{
    border-bottom: 2px solid #000000;
}

.part-1{
    background: #21cf76;
    width: 100%;
    padding: 0 32px;
    padding-top: 72px;
    margin: 0;
    border-bottom: 2px solid #000000;
}

.part-2{
    background: #e8e236;
    padding: 0 32px;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #000000;
}

.part-3{
    background: #21cf76;
    padding: 0 32px;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #000000;
}

.part-4{
    background: #f3f3f3;
    padding: 0 32px;
    width: 100%;
    padding-top: 24px;
    margin: 0;
    border-bottom: 2px solid #000000;
}


.part-4 img{
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.profile{
    width: 50%;
    padding: 24px;
}

.profile-box{
    background: #ffffff;
    padding: 4px;
    text-align: center;
    margin: 12px 0;
}

.profile-box h3{
    font-size: 16px;
    font-weight: 600;
}

.profile-box span{
    font-size: 12px;
}

.profile-contact{
    text-align: center;
}

.profile-contact i{
    padding: 4px;
}


.part-footer{
    background: #21cf76;
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
}

.part-footer p{
    color: #ffffff;
    font-size: 18px;
    padding: 48px 16px;
    margin: 0;
    text-align: center;
}


/* Style the form element with a border around it */
form {
    border-bottom: 1px dotted #2699FB;
    
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 48px;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #2699FB;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}


footer{
    font-size: 20px;
}

footer .social{
    color: #2699FB;
    
}

footer .social i{
    border: 1px solid #2699FB;
    padding: 16px;
    border-radius: 50%;
    margin: 8px;
}

footer .copyright{
    font-size: 13px;
    margin: 24px 12px;    
}