@font-face {
    font-family: 'gothambold';
    src: url(../fonts/gotham/Gotham-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'gothamlight';
    src: url(../fonts/gotham/Gotham-Light.otf);
}

:root {
    --blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}

*,::after,::before {
    box-sizing: border-box
}

article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}

b,strong {
    font-family: 'gothambold';
    font-size: 1.2rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

img {
    vertical-align: middle;
    border-style: none
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: inherit
}

.h1,h1 {
    font-size: 2.5rem
}

.h2,h2 {
    font-size: 2rem
}

.h3,h3 {
    font-size: 1.75rem
}

.h4,h4 {
    font-size: 1.5rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

body {
    --light-color: #fff;
    --dark-color: #5154ae;
    --dark-font-color: #212529;
    --sticky-nav-height: 111px;
    font-family: 'gothamlight', sans-serif;
    background-color: var(--light-color);
    color: var(--light-color);
    margin: 0;
}

a{
    color: #2699FB;
}

a:hover{
    color: #333333;
    text-decoration: none;
}

.inactive {
    display: none !important;
}

.img-responsive { 
    width:100%;
    max-width: 150px;
    max-height: 150px;
}

.max-width{
    max-width: 480px;
    background-color: var(--dark-color);
    margin: 0 auto;
    border-left: 1px solid #7d7d7d;
    border-right: 1px solid #7d7d7d;
    min-height: 100vh;
}

h1 {
    padding: 0.5em 0;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    background-color: var(--light-color);
    color: var(--dark-color);
    letter-spacing: -0.06rem;
    margin: 0;
}

h1 a, h1 a:hover {
    color: var(--dark-color);
}

/* Sections */
.vertical-line{
    width: 2px;
    background: #000000;
    height: 60px;
    position: relative;
    left: 50%;
}

.vertical-line-small {
    width: 2px;
    background: #000000;
    height: 40px;
    position: relative;
    left: 50%;
}

.h-boxed{
    background-color: var(--light-color);
    padding: 8px 16px;
    text-align: center;
    margin: 0;
    z-index: 10;
}
#home h2,
h2.h-boxed {
    display: inline-block;
    position: relative;
    left: 50%;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
}

#home {
    padding-top: 1.7rem;
    height: calc(100vh - 3em - var(--sticky-nav-height))
}

.part-2{
    width: 100%;
    margin: 0;
}

.part-2 img{
    border-radius: 50%;
    padding: 20px;
    margin: -20px 0;
}

.profile{
    width: 33.33%;
    padding: 8px 12px;
}

.profile-box{
    padding: 4px;
    text-align: center;
    margin: 12px 0;
    line-height: 14px;
}

.profile-box h3{
    font-family: 'gothambold';
    font-size: 11px;
    font-weight: 600;
    margin: 0;
}

.profile-box span{
    font-size: 11px
}

.profile-contact{
    text-align: center;
}

.profile-contact i{
    padding: 4px;
}


.part-footer{
    background: var(--dark-color); /* old color: #21cf76 */
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
    font-family: 'gothambold';
    border-top: 2px solid #000000;
}

.part-footer p{
    color: #ffffff;
    font-size: 18px;
    padding: 10px 16px;
    margin: 0;
    text-align: center;
}

.part-footer .h-boxed{
    font-size: 15px;
}

input[type=email]{
    border: none;
    background: #eeeeee;
    padding-left: 10px;
}


/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #2699FB;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}


footer{
    font-size: 20px;
    max-width: 480px;
    position: relative;
}

/* Projects Page */
#vote,
#profile {
    padding-bottom: 24px;
}

#vote .row,
#profile .row {
    position: relative;
}

#vote a,
#profile a {
    color: #000000;
    width: 100%;
}

#home > div {
    width: 100%;
}

img.home-dance{
    display: block;
    width: 318px;
    margin: 2em auto;
}

@media only screen and (max-height: 500px) {
    img.home-dance{
        display: none;
    }
}

.vote-dance{
    
    display: block;
    margin: 0 auto;
    padding-left: 26px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.project-box{
    background: var(--light-color);
    color: var(--dark-font-color);
    width: 95%;
    margin: 5% auto;
    padding: 16px;
    /**min-height: 160px;**/
    z-index: 10;
    border-bottom: 1px solid #333333;
}

.project-box h4{
    font-size: 18px;
    display: inline-block;
}

.project-box h3{
    font-weight: bold;
    font-size: 16px;
}

 .project-box span.counter,
 .project-box span.checkmark{
    position: relative;
    float: right;
    top: -48px;
    color: #000000;
    left: 10px;
    margin-bottom: -24px;
    text-align: center;
    padding: 0 4px;
    border: 1px solid #000000;
}

.project-box span.counter {
    top: -34px;
    padding: 2px 4px;
}
.project-box span.checkmark span{
    position: absolute;
    top: -20px;
    left: 5px;
    font-size: 10px;
}

#voters, #vote, #info {
    padding-bottom: var(--sticky-nav-height);
}

#vote, #info {
    background-color: var(--light-color);
}

#info {
    color: var(--dark-font-color);
}

.page .info-box {
    padding: 10px;
    border: 1px solid #808080;
}

.info-box {
    background-color: var(--light-color);
    padding: 10px;
}

.info-box, .info-box h3 {
    color: #1d1d1d;
    line-height: 1.7rem;
    font-size: 16px;
    font-weight: 900;
}

#voters, #vote, #info, #countries {
    padding-bottom: var(--sticky-nav-height);
}

#vote {
    background-color: var(--light-color);
}

.page .info-box {
    width: 80%;
    margin: 0 auto;
}

.page .info-box-short {
    width: 50%;
    margin: 0 auto;
}

.page .info-box-medium {
    width: 65%;
    margin: 0 auto;
}

.solution, .votes {
    width: 100%;
    min-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.solution i{
    display: block;
    text-align: right;
}

.votes{
    background: #000000;
    color: #ffffff;
    min-height: 40px;
    cursor: pointer;
    padding-bottom: 2px;
    padding-top: 12px;
}

.votes h2{
    margin-left: 0;
    font-size: 20px;
    width: 70%;
}

@media only screen and (min-width: 481px){
    .votes h2{
        width: 80%;
    }
}

.votes span{
    background: #ffffff;
    color: #000000;
    top: -46px;
    font-size: 16px;
}

em.index {
    font-family: monospace;
    display: inline-block;
    width: 3em;
    text-align: right;
    margin-left: -3em;
}
em.index:after {
  content: '.';
}

.solution ul {
    list-style: none;
}

.sticky-nav {
    width: 100%;
    max-width: 478px; 
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: var(--dark-color);
    padding: 1.5rem 0 1.5rem;
}

.social-media a{
    color: #2699FB;
}

.progressbar {
    counter-reset: step;
    width: 100%;
    
}
.progressbar li {
    list-style-type: none;
    width: 30%;
    float: left;
    font-size: 14px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}
.progressbar li a{
    padding: 50px 10px;
    width: 100px;
    position: relative;
    color: #ffffff;
    font-weight: bold;
}
.progressbar li a:hover{
    color: #2d4a83;
}
.progressbar li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 40px;
    border: 2px solid #5375ba;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:hover:before, .progressbar li.active-prev:hover:before, #start:hover {
    color: #ffffff;
    background-color: #2d4a83;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #ffffff;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.sticky-nav .progressbar li span{
    left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -22px;
}

.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active a{
    color: #a1befb;
    font-weight: bold;
}
.progressbar li.active:before {
    border-color: #5375bb;
    background-color: #a1befb;
    color: #ffffff;
}
.progressbar li.active-prev:before {
    border-color: #5375bb;
    background-color: #2d4a83;
    color: #ffffff;
}
.progressbar li.active + li:after {
    background-color: #ffffff;
}


/* FORM CSS */
/* Style the form */

#vote-form {
    padding: 30px;
    min-width: 300px;
    min-height: 360px;
    width: 90%;
    margin: 0 auto;
}

/* Style the input fields */
#vote-form input, #vote-form select {
    padding: 10px;
    width: 100%;
    font-size: 17px;
}

#vote-form input[type="checkbox"]  {
    width: auto;
}

/* Mark input boxes that gets an error on validation: */
#vote-form .invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
#vote-form .tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
#vote-form .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
#vote-form .step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
#vote-form .step.finish {
    background-color: var(--dark-color);
}

.form-nav button{
    background: #000000;
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 4px 8px;
}

#vote-form .google-auth button, #vote-form .facebook-auth button {
    width: 240px;
    cursor: pointer;
    text-align: left;
    padding: 12px;
    border: none;
    color: #ffffff;
}

#vote-form .google-auth button{
    background: #FF3E30;
}

#vote-form .facebook-auth button{
    background: #3B5998;
}

textarea {
    width: 100%;
}


/* The container */
.container {
display: block;
position: relative;
float: right;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 40px;
width: 40px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2699FB;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 12px;
top: 2px;
width: 14px;
height: 28px;
border: solid #000000;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.select-block{
display: block;
text-align: right;
width: 100%;
margin-right: 12px;
margin-bottom: -24px;
}

@media only screen and (min-width: 481px){
    .select-block{
        margin-right: 8%;
    }
}

.sticky-select{
    background: #a1befb;
    color: #000000;
    position: fixed;
    bottom: var(--sticky-nav-height);
    max-width: 480px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    z-index: 100;
}

.faq .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    max-width: 480px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    z-index: 100;
}

.home-vote{
    text-align: center;
    background: #2699FB;
    color: #ffffff;
    padding: 12px;
    width: 40%;
}

.faq .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 900;
    transition: 0.4s;
    border-bottom: 1px solid #333333;
  }
  
.faq .active, .faq .accordion:hover {
    background-color: #ccc;
  }

  .faq .active{
    margin-bottom: 12px;
  }
  
.faq .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.faq p{
    width: 100%;
    margin-bottom: 0;
}

.home-icon {
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -100px;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    transform: rotate(135deg);
}

.my-vote{
    border: 2px solid #000000;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: 'FontAwesome';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-twitter:before {
    content: "\f099"
}

.fa-github:before {
    content: "\f09b"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-instagram:before {
    content: "\f16d"
}

.fa-institution:before,.fa-bank:before,.fa-university:before {
    content: "\f19c"
}

.fa-medium:before {
    content: "\f23a"
}

.fa-wikipedia-w:before {
    content: "\f266"
}

#start {
    display: block;
    width: 30%;
    margin: 1rem auto 0;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: white;
    border: 2px solid #5375ba;
    line-height: 40px;
    border-radius: 1rem;
    text-transform: uppercase;
}