@font-face {
    font-family: 'sofiapro-light';
    src: url('sofiapro-light-webfont.woff2') format('woff2'),
         url('sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url(../fonts/gotham/Gotham-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'gothamlight';
    src: url(../fonts/gotham/Gotham-Light.otf);
}

body {
    font-family: 'gothamlight', sans-serif;
    margin-bottom: 88px;
}

a{
    color: #2699FB;
}

a:hover{
    color: #333333;
    text-decoration: none;
}

.inactive {
    display: none !important;
}

.img-responsive { 
    width:100%;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.max-width{
    max-width: 480px;
    margin: 0 auto;
    background: #ffffff; /* 21cf76 */
    border-top: none;
}

@media only screen and (min-width: 481px){
    .max-width{
        border-left: 1px solid #7d7d7d;
        border-right: 1px solid #7d7d7d;
        min-height: 92vh;
    }
}

/* Sections */
.vertical-line{
    width: 2px;
    background: #000000;
    height: 60px;
    position: relative;
    left: 50%;
}

.h-boxed{
    background: #ffffff;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 32px;
    z-index: 10;
}
h2.h-boxed{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */
}

.img-part{
    border-bottom: 2px solid #000000;
    max-width: 640px;
    margin: 0 auto;
    border-top: 2px solid #000000;
}

.part-1{
    background: #ffffff;
    width: 100%;
    padding: 0 32px;
    padding-top: 36px;
    margin: 0;
}

.box-header{
    font-family: 'gothambold';
    background: none;
    font-size: 14px;
    margin-bottom: 24px;
}

.box-header img{
    width: 280px;
    padding: 12px 4px;
}

/* .home-arrow{
    position: fixed;
    text-align: center;
    margin-left: 120px;
    font-size: 48px;
    bottom: 88px;
} */

.part-2{
    background: #ffffff;
    padding: 0 32px;
    width: 100%;
    margin: 0;
}

.part-3{
    background: #ffffff;
    padding: 0 32px;
    width: 100%;
    margin: 0;
}

.part-4{
    background: #f3f3f3;
    padding: 0 32px;
    width: 100%;
    padding-top: 24px;
    margin: 0;
}

.part-4 h2{
    font-family: 'gothambold';
    margin-bottom: 18px;
}

.part-4 .container{
    max-width: 640px;
}


.part-2 img{
    border-radius: 50%;
    padding: 20px;
    margin: -20px 0;
}

.profile{
    width: 33.33%;
    padding: 8px 12px;
}

.profile-box{
    background: #ffffff;
    padding: 4px;
    text-align: center;
    margin: 12px 0;
    line-height: 14px;
}

.profile-box h3{
    font-family: 'gothambold';
    font-size: 10px;
    font-weight: 600;
    margin: 0;
}

.profile-box span{
    font-size: 10px
}

.profile-contact{
    text-align: center;
}

.profile-contact i{
    padding: 4px;
}


.part-footer{
    background: #4366ae; /* old color: #21cf76 */
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
    font-family: 'gothambold';
    border-top: 2px solid #000000;
}

.part-footer p{
    color: #ffffff;
    font-size: 18px;
    padding: 10px 16px;
    margin: 0;
    text-align: center;
    font-family: 'sofiapro-light', sans-serif;
}

.part-footer .h-boxed{
    font-size: 15px;
}

input[type=email]{
    border: none;
    background: #eeeeee;
    padding-left: 10px;
}


/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #2699FB;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}


footer{
    font-size: 20px;
    max-width: 480px;
    position: relative;
}

footer .social{
    color: #2699FB;
    
}

footer .social i{
    border: 1px solid #2699FB;
    padding: 16px;
    border-radius: 50%;
    margin: 8px;
}

footer .copyright{
    font-size: 13px;
}


/* Projects Page */
#solutions,
#profile {
    padding-bottom: 24px;
}

#solutions .row,
#profile .row {
    position: relative;
}

#solutions a,
#profile a {
    color: #000000;
    width: 100%;
}

#solutions h2 a {
    color: #2699FB;
}

#solutions .hor-line,
#profile .hor-line {
    position: absolute;
    width: 48px;
    border: 1.5px solid #000000;
    left: 45%;
    top: 50%;
}

.vert-left-line, .vert-right-line{
    width: 3px;
    background: #000000;
    height: 72px;
    position: relative;
    left: 22.5%;
    margin: -24px 0;
}

.vert-right-line{
    left: 77.5%;
}

img.group1{
    width: 100px;
    top: -20px;
    left: 12%;
    position: absolute;
}

img.group2{
    width: 80px;
    top: -25px;
    left: 75%;
    position: absolute;
}

img.group3{
    width: 80px;
    top: -25px;
    left: 12%;
    position: absolute;
}

.project-box{
    background: #ffffff;
    width: 95%;
    margin: 5% auto;
    padding: 16px;
    /**min-height: 160px;**/
    z-index: 10;
    border-bottom: 1px solid #333333;
}

.project-box h4{
    font-size: 18px;
    display: inline-block;
}

.project-box h3{
    font-weight: bold;
    font-size: 16px;
}

 .project-box span{
    position: relative;
    float: right;
    top: -48px;
    color: #ffffff;
    left: 10px;
    margin-bottom: -24px;
    text-align: center;
    padding: 0 4px;
    border: 2px solid #000000;
} 

.project-box b {
    margin-right: 1em;
}

.solution, .votes {
    width: 100%;
    min-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.sol-image, .project-image{
    height: 120px;
    overflow: hidden;
    margin: 0 24px;
    position: relative;
}

.project-image{
    height: 320px;   
}

.project-category{
    position: absolute;
    z-index: 10;
    background: #ffffff;
    padding: 4px 12px;
    right: 0;
    font-size: 12px;
}

.sol-image img, .project-image img{
    position: relative;
    width: 100%; 
}

.sol-image span, .project-image span{
    position: absolute;
    background: rgba(0,0,0,0.25);
    width: 100%;
    z-index: 10;
    color: #ffffff;
    font-weight: 600;
    font-size: 36px;
    bottom: 0px;
    padding: 10px;
}


.solution i{
    display: block;
    text-align: right;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.votes{
    background: #000000;
    color: #ffffff;
    height: 40px;
    cursor: pointer;
}

.votes h2{
    margin-left: 0;
    font-size: 20px;
}

.votes span{
    background: #ffffff;
    color: #000000;
    top: -46px;
    font-size: 16px;
}

em.index {
    font-family: monospace;
    display: inline-block;
    width: 3em;
    text-align: right;
    margin-left: -3em;
}
em.index:after {
  content: '.';
}

.solution ul {
    list-style: none;
}

.dot-crumbs{
    background: #ffffff;
    margin:  0 auto;
    width: 200px;
    height: 28px;
    padding: 4px 12px;
    text-align: center
}

.crumb{
    font-size: 12px;
}

.sticky-nav {
    width: 100%;
    max-width: 480px; 
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: #333333;
    padding: 15px 0;
    border-top: 1px solid #333333;
    /** -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
}

.social-media a{
    color: #2699FB;
}

.info-header{
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.progressbar {
    counter-reset: step;
    width: 100%;
}
.progressbar li {
    list-style-type: none;
    width: 30%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li a{
    padding: 50px 10px;
    width: 100px;
    position: relative;
    color: #ffffff;
}
.progressbar li a:hover{
    color: #2699FB;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:hover:before, .progressbar li.active-prev:hover:before{
    color: #ffffff;
    border-color: rgb(30, 118, 194);
    background-color: #2699FB;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active a{
    color: #2699FB;
    font-weight: bold;
}
.progressbar li.active:before {
    border-color: rgb(30, 118, 194);
    background-color: #2699FB;
    color: #ffffff;
}
.progressbar li.active-prev:before {
    border-color: #6d6d6d;
    background-color: #7d7d7d;
    color: #ffffff;
}
.progressbar li.active + li:after {
    background-color: rgb(30, 118, 194);
}


/* FORM CSS */
/* Style the form */

#vote-form {
    background-color: #2699FB;
    padding: 30px;
    min-width: 300px;
    min-height: 360px;
    width: 90%;
    margin: 0 auto;
}

/* Style the input fields */
#vote-form input, #vote-form select {
    padding: 10px;
    width: 100%;
    font-size: 17px;
}

#vote-form input[type="checkbox"]  {
    width: auto;
}

/* Mark input boxes that gets an error on validation: */
#vote-form .invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
#vote-form .tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
#vote-form .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
#vote-form .step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
#vote-form .step.finish {
    background-color: #4CAF50;
}

.form-nav button{
    background: #000000;
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 4px 8px;
}

#vote-form .google-auth button, #vote-form .facebook-auth button {
    width: 240px;
    cursor: pointer;
    text-align: left;
    padding: 12px;
    border: none;
    color: #ffffff;
}

#vote-form .google-auth button{
    background: #FF3E30;
}

#vote-form .facebook-auth button{
    background: #3B5998;
}

textarea {
    width: 100%;
}


/* The container */
.container {
display: block;
position: relative;
float: right;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 40px;
width: 40px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2699FB;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 12px;
top: 2px;
width: 14px;
height: 28px;
border: solid #000000;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.select-block{
display: block;
text-align: right;
width: 100%;
margin-right: 8%;
margin-bottom: -24px;
}

.home-vote{
    text-align: center;
    background: #2699FB;
    color: #ffffff;
    padding: 12px;
    width: 40%;
}

.faq .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 900;
    transition: 0.4s;
    border-bottom: 1px solid #333333;
  }
  
.faq .active, .faq .accordion:hover {
    background-color: #ccc;
  }

  .faq .active{
    margin-bottom: 12px;
  }
  
.faq .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.faq p{
    width: 100%;
    margin-bottom: 0;
}

.home-icon {
    position: absolute;
    bottom: 20%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    transform: rotate(135deg);
}
  
.home-arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 4px;
    background-color: #000;
    animation: arrow 700ms linear infinite;
}

.home-arrow::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    top: -14px;
    right: -8px;
    background-color: #000;
    transform: rotate(45deg);
}

.home-arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    top: 14px;
    right: -8px;
    background-color: #000;
    transform: rotate(-45deg);
}